.account-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 20px;
  flex: 1;
}

.account-container h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.account-container p {
  font-size: 18px;
  color: #666;
}
